<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="alfrescoResourceBuilder"
         name="Alfresco Resource Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.alfresco.publisher.core.builder.AlfrescoResourceBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="alfrescoNature"
         name="Alfresco Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.alfresco.publisher.core.builder.AlfrescoNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.alfresco.publisher.core.alfrescoResourceBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.alfresco.publisher.core.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.alfresco.publisher.core.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.eclipse.alfresco.publisher.core.addRemoveNatureAction"
               label="Add/Remove Sample Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.alfresco.publisher.core.contribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.eclipse.alfresco.publisher.core.menu1"
               label="Alfresco"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.alfresco.publisher.core.popup.actions.Deploy"
               enablesFor="1"
               id="org.eclipse.alfresco.publisher.core.newAction"
               label="Deploy"
               menubarPath="org.eclipse.alfresco.publisher.core.menu1/group1">
         </action>
         <filter
               name="projectNature"
               value="org.eclipse.alfresco.publisher.core.alfrescoNature">
         </filter>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.alfresco.publisher.core.preferences.WorkbenchPreference"
            id="alfresco"
            name="Alfresco">
             <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
            <filter
               name="nature"
               value="org.eclipse.alfresco.publisher.core.alfrescoNature">
         </filter>
      </page>
      <page
            category="alfresco"
            class="org.eclipse.alfresco.publisher.core.properties.AlfrescoPropertyPage"
            id="org.eclipse.alfresco.publisher.core.properties.alfrescoPropertyPage"
            name="General properties Page"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
          <filter
               name="nature"
               value="org.eclipse.alfresco.publisher.core.alfrescoNature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.eclipse.alfresco.publisher.core.configurator.AlfrescoProjectConfigurator"
            id="org.eclipse.alfresco.publisher.core.configurator.alfrescoProjectConfigurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.alfresco.publisher.core.views.AlfrescoAMPView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.alfresco.publisher.core.commands.category"
            name="Alfresco">
      </category>
      <command
            categoryId="org.eclipse.alfresco.publisher.core.commands.category"
            id="org.eclipse.alfresco.publisher.core.commands.alfrescoDeployCommand"
            name="Alfresco Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.alfresco.publisher.core.handlers.AlfrescoDeployHandler"
            commandId="org.eclipse.alfresco.publisher.core.commands.alfrescoDeployCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.alfresco.publisher.core.commands.alfrescoDeployCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.alfresco.publisher.core.menus.alfrescoMenu"
               label="Alfresco"
               mnemonic="M">
            <command
                  commandId="org.eclipse.alfresco.publisher.core.commands.alfrescoDeployCommand"
                  id="org.eclipse.alfresco.publisher.core.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.alfresco.publisher.core.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.alfresco.publisher.core.commands.alfrescoDeployCommand"
                  icon="icons/sample.gif"
                  id="org.eclipse.alfresco.publisher.core.toolbars.sampleCommand"
                  tooltip="Deploy to server">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
