<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="alfrescoResourceBuilder"
         name="Alfresco Resource Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.alfresco.publisher.core.builder.AlfrescoResourceBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="alfrescoNature"
         name="Alfresco Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.alfresco.publisher.core.AlfrescoNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.alfresco.publisher.core.alfrescoResourceBuilder">
      </builder>
   </extension>
   
  
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.eclipse.alfresco.publisher.core.configurator.AlfrescoProjectConfigurator"
            id="org.eclipse.alfresco.publisher.core.configurator.alfrescoProjectConfigurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
  
   
   
 

</plugin>
